<div style="padding-top:84px; ">

  <div class="w3-row w3-container  " *ngIf="product | async; let data">

    <div class="w3-col  l4 w3-center " >
        <!-- <img [src]="(data)?.primaryImage " style="max-height:580px; max-width:340px" /> -->
        <slideshow [height]="height" style="min-width:340px;"
        [minHeight]="'580px'"
        [arrowSize]="'30px'"
        [autoPlay]="false"
        [showArrows]="true"
        [showDots]="true"
        [imageUrls]="data.images"
        [lazyLoad]="(data.images)?.length > 1"
        [autoPlayWaitForLazyLoad]="true">
    </slideshow>
    </div>
    <div class="w3-col l8  ">
        <h1 class="w3-text-gray-x"> {{(data)?.name}}</h1>
        <h1 class="w3-text-gray-x w3-medium"> {{(data)?.description}}</h1>

        <p class="w3-text-gray-v">PRICE: {{(data)?.price}} </p>

        <!-- <p>Quantities: {{quantity}}</p>

        <div class="w3-bar">
          <button (click)="deleteQuantity()" class="w3-button w3-light-pink">-</button>
          <button (click)="addQuantity()" class="w3-button w3-light-pink">+</button>
        </div>
        <br>
        <br>
        <button class="w3-button w3-block w3-light-pink" style="width:30%">Add to cart</button> -->


    </div>

  </div>

  <br>
</div>
